body {
    font-family: "proxima-nova", "HelveticaNeue", "Helvetica", "Arial", sans-serif;
    font-size: 120%;
    line-height: 1.6;
    color: #100;
    word-wrap: break-word;
    word-break: break-word;
  }

  .recommended-car-image {
    margin: 10px;
  }

  .separator {
      background: lime;
  }